/* Controls
---------------------------------------------------------------------- */

.controls 
{
	padding: 1rem;
	width: 100%;
	position: relative; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease;	
	background: #FFF;
	font-family: 'roboto', arial, sans-serif;
	color: #333;
}

.control-text
{
	color: #fff;
}

.control 
{
	position: relative;
	display: inline-block;
	padding: 3px 10px;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #333333;
	background-image: none;
	background-color: #FFFFFF;
	border: 1.1px solid transparent;
	border-color: #CCCCCC;
	border-radius: 4px;
	transition: background 150ms;
}

.control:hover 
{
	color: #333333;
    background-color: #CCCCCC;
	border: 1.1px solid transparent;
	border-color: #CCCCCC;
	border-radius: 4px;
}

.control[data-filter]:after 
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after 
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after 
{
    transform:  translateY(-4px) rotate(-135deg);
}

.control[data-ref]:after 
{
	/*
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
	*/
	color: #333333;
	position: absolute;
    background-color: #CCCCCC;
	border: 1.1px solid currentColor;
	border-color: #CCCCCC;
	border-radius: 4px;
	transition: background-color 150ms, border-color 150ms;
}

.mixitup-control-active 
{
    background: #393939;
}

.mixitup-control-active[data-filter]:after 
{
    background: transparent;
}

.mixitup-control-active[data-ref]:after 
{
    background: transparent;
}

/*******************************************************/

.btn-doi 
{
  color: #f2f2f2;
  background-color: #e95a44;
  border-color: #e95a44;
}
.btn-doi:focus,
.btn-doi.focus 
{
  color: #f2f2f2;
  background-color: #f87560;
  border-color: #e95a44;
}
.btn-doi:hover 
{
  color: #f2f2f2;
  background-color: #f87560;
  border-color: #e95a44;
}
.btn-doi:active,
.btn-doi.active,
.open > .dropdown-toggle.btn-doi 
{
  color: #f2f2f2;
  background-color: #f87560;
  border-color: #e95a44;
}
.btn-doi:active:hover,
.btn-doi.active:hover,
.open > .dropdown-toggle.btn-doi:hover,
.btn-doi:active:focus,
.btn-doi.active:focus,
.open > .dropdown-toggle.btn-doi:focus,
.btn-doi:active.focus,
.btn-doi.active.focus,
.open > .dropdown-toggle.btn-doi.focus 
{
  color: #f2f2f2;
  background-color: #e95a44;
  border-color: #e95a44;
}
.btn-doi:active,
.btn-doi.active,
.open > .dropdown-toggle.btn-doi 
{
  background-image: none;
}
.btn-doi.disabled:hover,
.btn-doi[disabled]:hover,
fieldset[disabled] .btn-doi:hover,
.btn-doi.disabled:focus,
.btn-doi[disabled]:focus,
fieldset[disabled] .btn-doi:focus,
.btn-doi.disabled.focus,
.btn-doi[disabled].focus,
fieldset[disabled] .btn-doi.focus 
{
  background-color: #e95a44;
  border-color: #f87560;
}

/*******************************************************/

/* Selection engine
---------------------------------------------------------------------- */

.portfolio,
.gap 
{
    display: inline-block;
    vertical-align: top;
}

.portfolio 
{
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	text-align: justify; 
	width:100%;
	overflow:hidden;
	font-family: 'Arimo', sans-serif;
	font-size:14px;
}

.portfolio:before 
{
    content: '';
    display: inline-block;
}

.portfolio img 
{
	max-width:100%;
	position: relative;
	top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}
	
.portfolio .label 
{
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
	background: #e95a44;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
	
.portfolio .label-text 
{
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
			
.mix .text-category 
{
	display:block;
	font-size:9px;
}
	
.portfolio:hover .label 
{
    bottom:0;
}
