<!-- Employment section -->

<hr>
<div class="row">
    <div class="col-12">
        <h2 clss="mb-5"><i class="fa-regular fa-building"></i> Employment and Education History</h2>
    </div>
	
	<div class="col-sm-6">
		<div class="card bg-light mb-3">
			<div class="card-body card-font-small">
				<h5 class="card-title">Employment History</h5>
				{% for employment_list in site.data.employment.employment_list %}
					{% include_relative _libs/employment_widget.html %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card bg-light mb-3">
			<div class="card-body card-font-small">
				<h5 class="card-title">Education History</h5>
				{% for education_list in site.data.employment.education_list %}
					{% include_relative _libs/education_widget.html %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
