<!-- Publication section -->

<hr>
<div class="row" id="publication">
    <div class="col">
        <h2 clss="mb-5"><i class="fa-brands fa-firstdraft"></i> Publications</h2>
        <p></p>
    </div>
</div>

<p>
<button class="btn btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="Paper Poster">
All
</button>
<i class="fa-solid fa-angles-right"></i>
<button class="btn btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#Journal" aria-expanded="false" aria-controls="Journal">
Journals/Articles
</button>
<button class="btn btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#Paper" aria-expanded="false" aria-controls="Paper">
Full Papers, Short Papers
</button>
<button class="btn btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#Poster" aria-expanded="false" aria-controls="Poster">
Talks, Posters and Demonstration
</button>
</p>
<div class="collapse.show" id="Journal">
	<div class="card card-body card-font-small">
		<h5 class="card-title">Journals and Articles</h5>
        {% for journal_list in site.data.publication.journal_list %}
            {% include_relative _libs/journal_widget.html %}
        {% endfor %}
	</div>
</div>
<p></p>
<div class="collapse multi-collapse" id="Paper">
	<div class="card card-body card-font-small">
		<h5 class="card-title">Conference Proceedings (Full Papers, Short Papers)</h5>
        {% for paper_list in site.data.publication.paper_list %}
            {% include_relative _libs/paper_widget.html %}
        {% endfor %}
	</div>
</div>
<p></p>
<div class="collapse multi-collapse" id="Poster">
	<div class="card card-body card-font-small">
		<h5 class="card-title">Conference Proceedings (Talks, Posters and Demonstration)</h5>
        {% for poster_list in site.data.publication.poster_list %}
            {% include_relative _libs/poster_widget.html %}
        {% endfor %}
	</div>
</div>
