<div class="row">
	<div class="col-sm-2">
		<img class="img-fluid" src="{{ education_list.logo }}" alt="{{ education_list.place }}">
	</div>
	<div class="col-sm-10">
		<span class="font-weight-bold">{{ education_list.position }}</span>
		<br>
		<i><a href="{{ education_list.url }}" target="_blank" rel="noopener">{{ education_list.place }}</a></i>
		<br>
		{{ education_list.from }} <i class="fa-solid fa-angle-right"></i> {{ education_list.to }}
		<br>
		{% if education_list.advisors %}
		Advisor: {{ education_list.advisors }}
		<br>
		{% endif %}
		{% if education_list.thesis %}
		Thesis: <a href="{{ education_list.pdf }}" target="_blank" rel="noopener">{{ education_list.thesis }}</a>
		{% endif %}
		<p></p>
	</div>
</div>