<div class="row mb-4">
    <div class="col-sm-12">
		{{ publication_list.team }}. 
		<b>{{ publication_list.title }}</b>, 
		<i><a href="{{ publication_list.event-web }}" target="_blank" rel="noopener">{{ publication_list.event }}</a></i>. 
		{% if publication_list.pages %}
		{{ publication_list.pages }},
		{% endif %}
		{% if publication_list.date %}
		{{ publication_list.date }}.
		{% endif %}
		{% if publication_list.remark %} 
		<span class="badge bg-light"><i class="fas fa-quote-left  pr-1 fa-fw"></i><strong>{{ publication_list.remark }}</strong></span>
		{% endif %}
		{% if publication_list.accept_rate %} 
		<i class="fa-solid fa-percent"></i><strong>Acceptance Rate {{ publication_list.accept_rate }}</strong>
		{% endif %}
        {% if publication_list.prize %} 
		<span class="badge bg-warning text-dark"><i class="fa-solid fa-award"></i><strong>{{ publication_list.prize }}</strong></span>
		{% endif %}
        {% if publication_list.doi %} 
		<a href="{{ publication_list.doi }}" target="_blank" rel="noopener"><i class="fa-brands fa-orcid"></i></a> 
		{% endif %}
		{% if publication_list.pdf %}
		<a href="{{ publication_list.pdf }}" target="_blank" rel="noopener"><i class="fa-regular fa-file-pdf"></i></a>
		{% endif %}
        {% if publication_list.code %}
		<a href="{{ publication_list.code }}" target="_blank" rel="noopener"><i class="fa-regular fa-file-code"></i></a> 
		{% endif %}
        {% if publication_list.demo %}
		<a href="{{ publication_list.demo }}" target="_blank" rel="noopener">
		<i class="fa-brands fa-youtube"></i></a> 
		{% endif %}
    </div>
</div>


